<section class='menu-doc'>
    {{#if __store.currentUser.guest}}
        <a href="#page-signIn">
            <div class="profile-player-box clear">
                <div class="pic-player avatar current big"></div>
                <div class="body-profile">
                    <p class="name-player">Guest mode</p>
                    <p class="status">Sign in</p>
                </div>
            </div>
        </a>
    {{else}}
        <a href="#page-profile" data-params='{ "userId": {{__store.currentUser.id}} }'>
            <div class="profile-player-box clear">
                <div class="pic-player avatar current big" style="background-image: url({{__store.currentUser.image}});">
                </div>
                <div class="body-profile">
                    <p class="name-player">{{__store.currentUser.name}}</p>
                    <p class="status">{{__store.currentUser.status}}</p>
                </div>
            </div>
        </a>
    {{/if}}

    <ul class="player-menu">
        <li>
            <a href="#page-signIn" class="link-menu">
                <div class="caption-item">Sign in</div>
                <span class="pulse-ico gray"></span>
            </a>
        </li>
        <li>
            <a href="#page-home" class="link-menu">
                <div class="caption-item">Home</div>
                <span class="pulse-ico gray"></span>
            </a>
        </li>
    </ul>
    <div class="space100"></div>
</section>
